<% layout("layouts/boilerplate") %>

    <h2>得点の詳細</h2>
    <div class="card m-auto mt-4 shadow bg-body rounded" style="width: 100%;">
        <div class="mt-5 mb-5 m-auto">
            <p class="card-title ps-3 pe-3 ps-lg-2 pe-lg-2 p-font"><b>お題A</b></p>
            <p class="m-auto mt-3 ps-2 pe-2 ps-lg-1 pe-lg-1 p-font-title text-center"><b>
                <%= user.theme %>
            </b></p>
        </div>
        <%- include("../partials/individualPlace", {allUser: allUser, user: user}) %>