<a href="/oogiri/vote/a/<%= themes[1]._id %>">投票用のリンク</a>
<a class="nav-link" href="/oogiri/result/a/<%= themes[1]._id %>">結果A</a>

<a href="/oogiri/vote/b/<%= titles[1]._id %>">投票用のリンク</a>
<a class="nav-link" href="/oogiri/result/b/<%= titles[1]._id %>">結果A</a>

<li class="nav-item">
    <a class="nav-link" href="/oogiri/result/a/:id">結果A</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/oogiri/result/b/:id">結果B</a>
</li>