<% layout("layouts/boilerplate") %>
    <h2>投稿してください</h2>

    <div class="card m-auto mt-4 mb-5 shadow bg-body rounded">
        <p class="ms-4 mt-4 p-font"><b>お題B（1単語＋状況・感情指定）</b></p>
        <div class="mt-4 mb-5 m-auto text-center">
            <p class="m-auto mt-3 ps-2 pe-2 ps-lg-1 pe-lg-1 p-font-title"><b>
                    <%= titles.title %>
                </b></p>
        </div>
        <ul>
            <li>1人1ボケ投稿できます</li>
            <li>投稿後は参加の取り消しができません</li>
            <li><b style="color: #ff5e24;">指定された単語を必ず使用してください</b></li>
            <li>すでに投稿している場合、後から投稿されたボケが採用されます</li>
        </ul>
        <div class="mt-2 mb-2 ps-3 pe-3">
            <form action="/oogiri/place/b/<%= titles._id %>?_method=PATCH" method="POST" novalidate
                class="needs-validation">
                <%- include("../partials/contributePlace", { votes: polls}) %>